@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 19% 95%;
    --foreground: 264 5% 0%;
    --card: 264 19% 90%;
    --card-foreground: 264 5% 10%;
    --popover: 264 19% 95%;
    --popover-foreground: 264 95% 0%;
    --primary: 264 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 19% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 226 19% 85%;
    --muted-foreground: 264 5% 35%;
    --accent: 226 19% 80%;
    --accent-foreground: 264 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 264 5% 90%;
    --border: 264 20% 50%;
    --input: 264 20% 18%;
    --ring: 264 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 264 19% 5%;
    --foreground: 264 5% 90%;
    --card: 264 19% 0%;
    --card-foreground: 264 5% 90%;
    --popover: 264 19% 5%;
    --popover-foreground: 264 5% 90%;
    --primary: 264 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 19% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 226 19% 15%;
    --muted-foreground: 264 5% 60%;
    --accent: 226 19% 15%;
    --accent-foreground: 264 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 264 5% 90%;
    --border: 264 20% 18%;
    --input: 264 20% 18%;
    --ring: 264 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
