---
title: BashBuddy Launch
description: How we launched BashBuddy, and what's next.
author: Pol
date: 2025-03-20
---

First of all, welcome to BashBuddy!

After the successful initial launch of BashBuddy, we've been working on more new features, and here's what we've been up to.

## Better local models

We're going to implement more models for local usage

_more to come..._

